In [723]:
import csv
import ast
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm import tqdm

In [56]:
tqdm.pandas()

In [704]:
pd.set_option('display.max_columns', None)

## Administrative Boundaries - Select useful columns

In [451]:
gdf_admin_l1 = gpd.read_file("data/administrative_boundaries/gadm/gadm41_SDN_1.json")
gdf_admin_l2 = gpd.read_file("data/administrative_boundaries/gadm/gadm41_SDN_2.json")
gdf_admin_l3 = gpd.read_file("data/administrative_boundaries/gadm/gadm41_SDN_3.json")

### L1

In [455]:
gdf_admin_l1 = gdf_admin_l1[[
    'GID_0', 'GID_1', 'COUNTRY', 'NAME_1', 'VARNAME_1', 'ENGTYPE_1', 'HASC_1', 'ISO_1', 'geometry'
]].copy().reset_index(drop=True)

In [457]:
gdf_admin_l1.columns

Index(['GID_0', 'GID_1', 'COUNTRY', 'NAME_1', 'VARNAME_1', 'ENGTYPE_1',
       'HASC_1', 'ISO_1', 'geometry'],
      dtype='object')

In [459]:
gdf_admin_l1.columns = ['GID_L0', 'GID_L1', 'COUNTRY', 'NAME_L1', 'NAME_ALTERNATIVES_L1', 'TYPE_L1', 
                        'HASC_L1', 'ISO_L1', 'GEOMETRY_L1']

In [461]:
gdf_admin_l1

,GID_L0,GID_L1,COUNTRY,NAME_L1,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1
0,SDN,SDN.1_1,Sudan,AlJazirah,Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
1,SDN,SDN.2_1,Sudan,AlQadarif,Gedarif|Gadarif|Gedaref|Gederaf,State,SD.GD,NA,"MULTIPOLYGON (((36.4455 13.7641, 36.4391 13.74..."
2,SDN,SDN.3_1,Sudan,BlueNile,AnNīlalAzraq|NilBleu|NiloAz,State,SD.BN,SD-NB,"MULTIPOLYGON (((34.3484 10.2144, 34.3424 10.20..."
3,SDN,SDN.4_1,Sudan,CentralDarfur,Zalingei,State,SD.CD,SD-DC,"MULTIPOLYGON (((22.9985 10.7248, 22.9938 10.73..."
4,SDN,SDN.5_1,Sudan,EastDarfur,NA,State,SD.ED,NA,"MULTIPOLYGON (((26.6421 9.4881, 26.3693 9.5709..."
5,SDN,SDN.6_1,Sudan,Kassala,Cassala|Kessala,State,SD.KA,SD-KA,"MULTIPOLYGON (((35.967 15.072, 35.964 15.083, ..."
6,SDN,SDN.7_1,Sudan,Khartoum,AlKharţūm|AlKhurţūm|Cartum|J,State,SD.KH,SD-KH,"MULTIPOLYGON (((32.481 15.231, 32.476 15.223, ..."
7,SDN,SDN.8_1,Sudan,NorthDarfur,DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767..."
8,SDN,SDN.9_1,Sudan,NorthKurdufan,KurdufānashShamālīyah|ShamālK,State,SD.KN,NA,"MULTIPOLYGON (((31.6742 12.7836, 31.6789 12.76..."
9,SDN,SDN.10_1,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,State,SD.NO,SD-NO,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."
10,SDN,SDN.11_1,Sudan,RedSea,BaḥralAḥmar|MarRojo|MarRosso,State,SD.RS,SD-RS,"MULTIPOLYGON (((38.5071 18.0713, 38.5096 18.07..."
11,SDN,SDN.12_1,Sudan,RiverNile,"anNīl,NahranNīl|Nil|Nile|",State,SD.RN,SD-NR,"MULTIPOLYGON (((34.3459 16.3054, 34.3194 16.24..."
12,SDN,SDN.13_1,Sudan,Sennar,Sinnar,State,SD.SI,SD-SI,"MULTIPOLYGON (((33.306 12.2028, 33.2552 12.201..."
13,SDN,SDN.14_1,Sudan,SouthDarfur,DārfūralJanūbīyah|JanūbDārfū,State,SD.SD,SD-DS,"MULTIPOLYGON (((24.2455 8.7129, 24.2342 8.7106..."
14,SDN,SDN.15_1,Sudan,SouthKurdufan,SouthernKordofan|SouthKordufan,State,SD.KS,NA,"MULTIPOLYGON (((30.7663 9.7695, 30.6024 9.9239..."
15,SDN,SDN.16_1,Sudan,WestDarfur,DārfūralGharbīyah|GharbDārfūr,State,SD.WD,SD-DW,"MULTIPOLYGON (((21.8396 12.8085, 21.8483 12.83..."
16,SDN,SDN.17_1,Sudan,WestKurdufan,GharbKurdufān|GharbKurdufun|,State,SD.KN,NA,"MULTIPOLYGON (((27.2391 11.5472, 27.2288 11.71..."
17,SDN,SDN.18_1,Sudan,WhiteNile,AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."

## L2

In [464]:
gdf_admin_l2.head()

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,SDN.1.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,AlKamlin,NA,NA,District,District,NA,NA,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91..."
1,SDN.1.2_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,AlMahagil,NA,NA,District,District,NA,NA,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99..."
2,SDN.1.3_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,EastalGazera,NA,NA,District,District,NA,NA,"MULTIPOLYGON (((33.7332 14.0494, 33.723 14.088..."
3,SDN.1.4_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,NorthalGazera,NA,NA,District,District,NA,NA,"MULTIPOLYGON (((33.3418 14.45, 33.2833 14.4019..."
4,SDN.1.5_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SharqalGazera,NA,NA,District,District,NA,NA,"MULTIPOLYGON (((33.7216 14.702, 33.675 14.6276..."

In [466]:
gdf_admin_l2.columns

Index(['GID_2', 'GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'NL_NAME_1', 'NAME_2',
       'VARNAME_2', 'NL_NAME_2', 'TYPE_2', 'ENGTYPE_2', 'CC_2', 'HASC_2',
       'geometry'],
      dtype='object')

In [468]:
gdf_admin_l2 = gdf_admin_l2[[
    'GID_0', 'GID_1', 'GID_2', 'COUNTRY', 'NAME_1', 'NAME_2', 'ENGTYPE_2', 'geometry'
]].copy().reset_index(drop=True)

In [470]:
gdf_admin_l2.columns = ['GID_L0', 'GID_L1', 'GID_L2', 'COUNTRY', 'NAME_L1', 'NAME_L2', 'TYPE_L2', 'GEOMETRY_L2']

In [472]:
gdf_admin_l2

,GID_L0,GID_L1,GID_L2,COUNTRY,NAME_L1,NAME_L2,TYPE_L2,GEOMETRY_L2
0,SDN,SDN.1_1,SDN.1.1_1,Sudan,AlJazirah,AlKamlin,District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91..."
1,SDN,SDN.1_1,SDN.1.2_1,Sudan,AlJazirah,AlMahagil,District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99..."
2,SDN,SDN.1_1,SDN.1.3_1,Sudan,AlJazirah,EastalGazera,District,"MULTIPOLYGON (((33.7332 14.0494, 33.723 14.088..."
3,SDN,SDN.1_1,SDN.1.4_1,Sudan,AlJazirah,NorthalGazera,District,"MULTIPOLYGON (((33.3418 14.45, 33.2833 14.4019..."
4,SDN,SDN.1_1,SDN.1.5_1,Sudan,AlJazirah,SharqalGazera,District,"MULTIPOLYGON (((33.7216 14.702, 33.675 14.6276..."
...,...,...,...,...,...,...,...,...
75,SDN,SDN.17_1,SDN.17.5_1,Sudan,WestKurdufan,Lagawa,District,"MULTIPOLYGON (((29.9138 10.2943, 29.8783 10.25..."
76,SDN,SDN.18_1,SDN.18.1_1,Sudan,WhiteNile,AdDouiem,District,"MULTIPOLYGON (((31.6026 14.0161, 31.5662 14.12..."
77,SDN,SDN.18_1,SDN.18.2_1,Sudan,WhiteNile,AlGutaina,District,"MULTIPOLYGON (((32.5526 14.071, 32.5762 14.022..."
78,SDN,SDN.18_1,SDN.18.3_1,Sudan,WhiteNile,AlJabalian,District,"MULTIPOLYGON (((32.724 12.219, 32.719 12.241, ..."
79,SDN,SDN.18_1,SDN.18.4_1,Sudan,WhiteNile,Kosti,District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3..."

## L3

In [475]:
gdf_admin_l3.head()

,GID_3,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,NAME_3,VARNAME_3,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,geometry
0,SDN.1.1.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElKamlin,NA,NA,Unknown,Unknown,NA,NA,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24..."
1,SDN.1.1.2_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElMasid,NA,NA,Unknown,Unknown,NA,NA,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17..."
2,SDN.1.1.3_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElMiEiliq,NA,NA,Unknown,Unknown,NA,NA,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88..."
3,SDN.1.1.4_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,EsSideira,NA,NA,Unknown,Unknown,NA,NA,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22..."
4,SDN.1.2.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.2_1,AlMahagil,NA,AlAzazi,NA,NA,Unknown,Unknown,NA,NA,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44..."

In [477]:
gdf_admin_l3.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GID_3      237 non-null    object
 1   GID_0      237 non-null    object
 2   COUNTRY    237 non-null    object
 3   GID_1      237 non-null    object
 4   NAME_1     237 non-null    object
 5   NL_NAME_1  237 non-null    object
 6   GID_2      237 non-null    object
 7   NAME_2     237 non-null    object
 8   NL_NAME_2  237 non-null    object
 9   NAME_3     237 non-null    object
 10  VARNAME_3  237 non-null    object
 11  NL_NAME_3  237 non-null    object
 12  TYPE_3     237 non-null    object
 13  ENGTYPE_3  237 non-null    object
 14  CC_3       237 non-null    object
 15  HASC_3     237 non-null    object
 16  geometry   237 non-null    geometry
dtypes: geometry(1), object(16)
memory usage: 31.6+ KB

In [479]:
gdf_admin_l3 = gdf_admin_l3[[
    'GID_0', 'GID_1', 'GID_2', 'GID_3', 'COUNTRY', 'NAME_1', 'NAME_2', 'NAME_3', 'geometry'
]].copy().reset_index(drop=True)

In [481]:
gdf_admin_l3.columns = ['GID_L0', 'GID_L1', 'GID_L2', 'GID_L3', 'COUNTRY', 'NAME_L1', 'NAME_L2', 'NAME_L3', 'GEOMETRY_L3']

In [483]:
gdf_admin_l3

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44..."
...,...,...,...,...,...,...,...,...,...
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989..."

In [485]:
gdf_admin_all = pd.merge(gdf_admin_l3, gdf_admin_l1[['GID_L1', 'NAME_L1', 'NAME_ALTERNATIVES_L1', 'TYPE_L1', 
                        'HASC_L1', 'ISO_L1', 'GEOMETRY_L1']], on=['GID_L1', 'NAME_L1'], how='left')

In [487]:
gdf_admin_all.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GID_L0                237 non-null    object
 1   GID_L1                237 non-null    object
 2   GID_L2                237 non-null    object
 3   GID_L3                237 non-null    object
 4   COUNTRY               237 non-null    object
 5   NAME_L1               237 non-null    object
 6   NAME_L2               237 non-null    object
 7   NAME_L3               237 non-null    object
 8   GEOMETRY_L3           237 non-null    geometry
 9   NAME_ALTERNATIVES_L1  237 non-null    object
 10  TYPE_L1               237 non-null    object
 11  HASC_L1               237 non-null    object
 12  ISO_L1                237 non-null    object
 13  GEOMETRY_L1           237 non-null    geometry
dtypes: geometry(2), object(12)
memory usage: 26.1+ KB

In [489]:
gdf_admin_all

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545..."

In [491]:
gdf_admin_all = pd.merge(gdf_admin_all, gdf_admin_l2[['GID_L2', 'NAME_L2', 'TYPE_L2', 'GEOMETRY_L2']]
                         , on=['GID_L2', 'NAME_L2'], how='left')

In [493]:
gdf_admin_all.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GID_L0                237 non-null    object
 1   GID_L1                237 non-null    object
 2   GID_L2                237 non-null    object
 3   GID_L3                237 non-null    object
 4   COUNTRY               237 non-null    object
 5   NAME_L1               237 non-null    object
 6   NAME_L2               237 non-null    object
 7   NAME_L3               237 non-null    object
 8   GEOMETRY_L3           237 non-null    geometry
 9   NAME_ALTERNATIVES_L1  237 non-null    object
 10  TYPE_L1               237 non-null    object
 11  HASC_L1               237 non-null    object
 12  ISO_L1                237 non-null    object
 13  GEOMETRY_L1           237 non-null    geometry
 14  TYPE_L2               237 non-null    object
 15  GEOMETRY_L2           237 non-null    geometry
dtypes: geometry(3), object(13)
memory usage: 29.8+ KB

In [208]:
gdf_admin_all.to_csv('data/administrative_boundaries/gadm/gadm_sdn_full.csv', index=False)

In [497]:
gpd.read_file('data/administrative_boundaries/gadm/gadm_sdn_full.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GID_L0                237 non-null    object
 1   GID_L1                237 non-null    object
 2   GID_L2                237 non-null    object
 3   GID_L3                237 non-null    object
 4   COUNTRY               237 non-null    object
 5   NAME_L1               237 non-null    object
 6   NAME_L2               237 non-null    object
 7   NAME_L3               237 non-null    object
 8   GEOMETRY_L3           237 non-null    object
 9   NAME_ALTERNATIVES_L1  237 non-null    object
 10  TYPE_L1               237 non-null    object
 11  HASC_L1               237 non-null    object
 12  ISO_L1                237 non-null    object
 13  GEOMETRY_L1           237 non-null    object
 14  TYPE_L2               237 non-null    object
 15  GEOMETRY_L2           237 non-null    object
dtypes: object(16)
memory usage: 29.8+ KB

## Calculate centroid data on all levels

In [500]:
def convert_coordinates_format(geometry):
    """
    Convert coordinates from GeoDataFrame geometry (tuple format) to the required format.
    
    Parameters:
        geometry (shapely.geometry): The geometry object (Polygon or MultiPolygon).
        
    Returns:
        list: Coordinates in the required format, i.e., a list of lists of [longitude, latitude].
    """
    if geometry.geom_type == 'MultiPolygon':
        # convert each Polygon within the MultiPolygon to the required format
        return [
            [list(polygon.exterior.coords) for polygon in geometry.geoms]
        ]
    elif geometry.geom_type == 'Polygon':
        # convert the Polygon to the required format
        return [list(geometry.exterior.coords)]
    else:
        return []

In [502]:
gdf_admin_all["COORDINATES_L1"] = gdf_admin_all["GEOMETRY_L1"].progress_apply(lambda x: convert_coordinates_format(x))
gdf_admin_all["COORDINATES_L2"] = gdf_admin_all["GEOMETRY_L2"].progress_apply(lambda x: convert_coordinates_format(x))
gdf_admin_all["COORDINATES_L3"] = gdf_admin_all["GEOMETRY_L3"].progress_apply(lambda x: convert_coordinates_format(x))

100%|██████████| 237/237 [00:00<00:00, 1685.83it/s]
100%|██████████| 237/237 [00:00<00:00, 4984.13it/s]
100%|██████████| 237/237 [00:00<00:00, 6487.10it/s]

In [504]:
def get_centroid_coordinates(gdf, level):
    """
    Get the centroid of each region in the GeoDataFrame.
    
    Args:
    - gdf (GeoDataFrame): A GeoDataFrame with polygon or multipolygon geometries.
    
    Returns:
    - list: A list of (latitude, longitude) tuples for each region's centroid.
    """
    centroids = []
    
    for _, row in gdf.iterrows():
        geometry = row[f'GEOMETRY_L{level}']
        
        if geometry.is_valid:
            centroid = geometry.centroid
            centroids.append((centroid.y, centroid.x))  # (lat, lon)
    
    return centroids

In [506]:
gdf_admin_all["CENTROID_COORDINATES_L1"] = get_centroid_coordinates(gdf_admin_all, "1")
gdf_admin_all["CENTROID_COORDINATES_L2"] = get_centroid_coordinates(gdf_admin_all, "2")
gdf_admin_all["CENTROID_COORDINATES_L3"] = get_centroid_coordinates(gdf_admin_all, "3")

In [508]:
gdf_admin_all.to_csv('data/merging/gadm_sdn_full_with_coords_and_centroids.csv', index=False)

In [510]:
gdf_admin_all.head()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,...,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,...,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)"
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,...,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)"
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,...,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)"
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,...,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)"
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,...,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)"

## Sentinel-2 data (NDVI, NDWI)

In [513]:
gdf_sentinel = gpd.read_file("data/sentinel_2/ndvi_ndwi_for_sdn_by_district_subdivision.geojson")

In [514]:
gdf_sentinel.head()

,GID_3,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,NAME_3,VARNAME_3,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,coordinates,ndvi,ndwi,geometry
0,SDN.1.1.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElKamlin,NA,NA,Unknown,Unknown,NA,NA,"[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24..."
1,SDN.1.1.2_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElMasid,NA,NA,Unknown,Unknown,NA,NA,"[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17..."
2,SDN.1.1.3_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,ElMiEiliq,NA,NA,Unknown,Unknown,NA,NA,"[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88..."
3,SDN.1.1.4_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.1_1,AlKamlin,NA,EsSideira,NA,NA,Unknown,Unknown,NA,NA,"[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22..."
4,SDN.1.2.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SDN.1.2_1,AlMahagil,NA,AlAzazi,NA,NA,Unknown,Unknown,NA,NA,"[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44..."

In [515]:
gdf_sentinel.columns

Index(['GID_3', 'GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'NL_NAME_1', 'GID_2',
       'NAME_2', 'NL_NAME_2', 'NAME_3', 'VARNAME_3', 'NL_NAME_3', 'TYPE_3',
       'ENGTYPE_3', 'CC_3', 'HASC_3', 'coordinates', 'ndvi', 'ndwi',
       'geometry'],
      dtype='object')

In [516]:
gdf_sentinel = gdf_sentinel[['GID_3', 'NAME_3', 'ndvi', 'ndwi']].copy().reset_index(drop=True)

In [517]:
gdf_sentinel.columns = ['GID_L3', 'NAME_L3', 'SENTINEL_2_NDVI_L3', 'SENTINEL_2_NDWI_L3']

In [518]:
gdf_admin_sentinel = pd.merge(gdf_admin_all, gdf_sentinel, on=['GID_L3', 'NAME_L3'], how='left')

In [525]:
gdf_admin_sentinel.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI          237 non-null    object
 23  SENTINEL_2_NDWI          237 non-null    object
dtypes: geometry(3), object(21)
memory usage: 44.6+ KB

In [958]:
gdf_admin_sentinel.head()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI,SENTINEL_2_NDWI
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2..."

In [966]:
def transform_json(json_str):
    try:
        # Parse the JSON string if necessary
        if isinstance(json_str, str):
            data = json.loads(json_str)
        else:
            data = json_str

        measurements = data["data"]
        measurements_processed = list()

        for measurement in measurements:
            interval_from = measurement.get('interval', {}).get('from', "").split("T")[0] 
            interval_to = measurement.get('interval', {}).get('to', "").split("T")[0]    
            
            bands = measurement.get('outputs', {}).get('data', {}).get('bands', {})
            ndvi_stats = next(iter(bands.values()), {}).get('stats', {})
            
            ndvi_min = ndvi_stats.get('min', "")
            ndvi_max = ndvi_stats.get('max', "")
            ndvi_mean = ndvi_stats.get('mean', "")
            
            measurements_processed.append({
                "interval_from": interval_from, 
                "interval_to": interval_to, 
                "ndvi_min": ndvi_min, 
                "ndvi_max": ndvi_max, 
                "ndvi_mean": ndvi_mean
            })
            
        return {"data": measurements_processed}
    except Exception as e:
        return {"data": []}

In [968]:
gdf_admin_sentinel["SENTINEL_2_NDVI_L3"] = gdf_admin_sentinel["SENTINEL_2_NDVI"].progress_apply(lambda x: transform_json(x))

100%|██████████| 237/237 [00:00<00:00, 242.94it/s]

In [974]:
gdf_admin_sentinel["SENTINEL_2_NDWI_L3"] = gdf_admin_sentinel["SENTINEL_2_NDWI"].progress_apply(lambda x: transform_json(x))

100%|██████████| 237/237 [00:00<00:00, 258.55it/s]

In [980]:
gdf_admin_sentinel.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI          237 non-null    object
 23  SENTINEL_2_NDWI          237 non-null    object
 24  SENTINEL_2_NDVI_L3       237 non-null    object
 25  SENTINEL_2_NDWI_L3       237 non-null    object
dtypes: geometry(3), object(23)
memory usage: 48.3+ KB

In [982]:
gdf_admin_sentinel.head()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI,SENTINEL_2_NDWI,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int..."

In [978]:
gdf_admin_sentinel.drop(columns=["SENTINEL_2_NDVI", "SENTINEL_2_NDWI"]).to_csv('data/merging/gadm_sdn_full_with_coords_centroids_sentinel.csv', index=False)

## OpenWeatherMap data

In [984]:
gdf_weather = gpd.read_file("data/openweathermap/openweathermap_for_sdn_by_state.geojson")

In [985]:
gdf_weather.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GID_1                          2862 non-null   object
 1   GID_0                          2862 non-null   object
 2   COUNTRY                        2862 non-null   object
 3   NAME_1                         2862 non-null   object
 4   VARNAME_1                      2862 non-null   object
 5   NL_NAME_1                      2862 non-null   object
 6   TYPE_1                         2862 non-null   object
 7   ENGTYPE_1                      2862 non-null   object
 8   CC_1                           2862 non-null   object
 9   HASC_1                         2862 non-null   object
 10  ISO_1                          2862 non-null   object
 11  coordinates                    2862 non-null   object
 12  centroid_coordinates           2862 non-null   object
 13  latitude                       2862 non-null   float64
 14  longitude                      2862 non-null   float64
 15  date                           2862 non-null   datetime64[ms]
 16  cloud_cover                    2862 non-null   float64
 17  humidity_percentage            2862 non-null   float64
 18  precipitation_total_mm         2862 non-null   float64
 19  temperature_min_celsius        2862 non-null   float64
 20  temperature_max_celsius        2862 non-null   float64
 21  temperature_afternoon_celsius  2862 non-null   float64
 22  temperature_night_celsius      2862 non-null   float64
 23  temperature_evening_celsius    2862 non-null   float64
 24  temperature_morning_celsius    2862 non-null   float64
 25  pressure_hpa                   2862 non-null   float64
 26  wind_max_speed_kmh             2862 non-null   float64
 27  wind_max_direction_degrees     2862 non-null   float64
 28  geometry                       2862 non-null   geometry
dtypes: datetime64[ms](1), float64(14), geometry(1), object(13)
memory usage: 648.6+ KB

In [986]:
gdf_weather.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,coordinates,centroid_coordinates,latitude,longitude,date,cloud_cover,humidity_percentage,precipitation_total_mm,temperature_min_celsius,temperature_max_celsius,temperature_afternoon_celsius,temperature_night_celsius,temperature_evening_celsius,temperature_morning_celsius,pressure_hpa,wind_max_speed_kmh,wind_max_direction_degrees,geometry
0,SDN.10_1,SDN,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,الشمالية,Wilayat,State,NA,SD.NO,SD-NO,"[[[(31.493, 16.5126), (31.0034, 16.5079), (30....","(19.564491315380447, 29.353384313503984)",19.564491,29.353384,2022-01-01,0.0,30.0,0.0,12.09,21.33,20.75,15.33,17.53,12.81,1016.0,6.79,345.0,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."
1,SDN.10_1,SDN,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,الشمالية,Wilayat,State,NA,SD.NO,SD-NO,"[[[(31.493, 16.5126), (31.0034, 16.5079), (30....","(19.564491315380447, 29.353384313503984)",19.564491,29.353384,2022-01-08,36.0,14.0,0.0,16.68,30.61,28.83,19.19,26.18,16.88,1014.0,5.12,358.0,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."
2,SDN.10_1,SDN,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,الشمالية,Wilayat,State,NA,SD.NO,SD-NO,"[[[(31.493, 16.5126), (31.0034, 16.5079), (30....","(19.564491315380447, 29.353384313503984)",19.564491,29.353384,2022-01-15,9.0,25.0,0.0,11.83,22.27,20.42,14.38,18.10,12.07,1017.0,7.86,27.0,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."
3,SDN.10_1,SDN,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,الشمالية,Wilayat,State,NA,SD.NO,SD-NO,"[[[(31.493, 16.5126), (31.0034, 16.5079), (30....","(19.564491315380447, 29.353384313503984)",19.564491,29.353384,2022-01-22,0.0,18.0,0.0,7.84,21.12,18.82,9.78,16.49,7.94,1020.0,6.62,10.0,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."
4,SDN.10_1,SDN,Sudan,Northern,AshShamālī|AshShamālīyah|Nord,الشمالية,Wilayat,State,NA,SD.NO,SD-NO,"[[[(31.493, 16.5126), (31.0034, 16.5079), (30....","(19.564491315380447, 29.353384313503984)",19.564491,29.353384,2022-01-29,0.0,23.0,0.0,6.87,19.36,16.88,9.32,15.19,7.10,1022.0,7.64,21.0,"MULTIPOLYGON (((31.493 16.5126, 31.0034 16.507..."

In [987]:
gdf_weather.columns

Index(['GID_1', 'GID_0', 'COUNTRY', 'NAME_1', 'VARNAME_1', 'NL_NAME_1',
       'TYPE_1', 'ENGTYPE_1', 'CC_1', 'HASC_1', 'ISO_1', 'coordinates',
       'centroid_coordinates', 'latitude', 'longitude', 'date', 'cloud_cover',
       'humidity_percentage', 'precipitation_total_mm',
       'temperature_min_celsius', 'temperature_max_celsius',
       'temperature_afternoon_celsius', 'temperature_night_celsius',
       'temperature_evening_celsius', 'temperature_morning_celsius',
       'pressure_hpa', 'wind_max_speed_kmh', 'wind_max_direction_degrees',
       'geometry'],
      dtype='object')

In [992]:
gdf_weather = gdf_weather[['GID_1', 'NAME_1', 'date', 'cloud_cover',
       'humidity_percentage', 'precipitation_total_mm',
       'temperature_min_celsius', 'temperature_max_celsius',
       'temperature_afternoon_celsius', 'temperature_night_celsius',
       'temperature_evening_celsius', 'temperature_morning_celsius',
       'pressure_hpa', 'wind_max_speed_kmh', 'wind_max_direction_degrees']].copy().reset_index(drop=True)

In [994]:
gdf_weather.columns = ['GID_L1', 'NAME_L1', 'date', 'cloud_cover',
       'humidity_percentage', 'precipitation_total_mm',
       'temperature_min_celsius', 'temperature_max_celsius',
       'temperature_afternoon_celsius', 'temperature_night_celsius',
       'temperature_evening_celsius', 'temperature_morning_celsius',
       'pressure_hpa', 'wind_max_speed_kmh', 'wind_max_direction_degrees']

In [996]:
def aggregate_weather(group):
    return group.apply(
        lambda row: {
            row["date"].strftime("%Y-%m-%d"): {
                "cloud_cover": row["cloud_cover"],
                "humidity_percentage": row["humidity_percentage"],
                "precipitation_total_mm": row["precipitation_total_mm"],
                "temperature_min_celsius": row["temperature_min_celsius"],
                "temperature_max_celsius": row["temperature_max_celsius"],
                "temperature_afternoon_celsius": row["temperature_afternoon_celsius"],
                "temperature_night_celsius": row["temperature_night_celsius"],
                "temperature_evening_celsius": row["temperature_evening_celsius"],
                "temperature_morning_celsius": row["temperature_morning_celsius"],
                "pressure_hpa": row["pressure_hpa"],
                "wind_max_speed_kmh": row["wind_max_speed_kmh"],
                "wind_max_direction_degrees": row["wind_max_direction_degrees"],
            }
        },
        axis=1,
    ).tolist()

In [998]:
gdf_weather_gr = gdf_weather.groupby(['GID_L1', 'NAME_L1']).apply(aggregate_weather).reset_index(name="WEATHER_WEEKLY_L1")

/var/folders/g8/tc9k918x5hncpxzn40y8c00h0000gn/T/ipykernel_52146/2232415477.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gdf_weather_gr = gdf_weather.groupby(['GID_L1', 'NAME_L1']).apply(aggregate_weather).reset_index(name="WEATHER_WEEKLY_L1")

In [1000]:
gdf_weather_gr["WEATHER_WEEKLY_L1"] = gdf_weather_gr["WEATHER_WEEKLY_L1"].apply(lambda x: {k: v for d in x for k, v in d.items()})

In [1002]:
gdf_weather_gr

      GID_L1        NAME_L1                                  WEATHER_WEEKLY_L1
0   SDN.10_1       Northern  {'2022-01-01': {'cloud_cover': 0.0, 'humidity_...
1   SDN.11_1         RedSea  {'2022-01-01': {'cloud_cover': 2.0, 'humidity_...
2   SDN.12_1      RiverNile  {'2022-01-01': {'cloud_cover': 39.0, 'humidity...
3   SDN.13_1         Sennar  {'2022-01-01': {'cloud_cover': 100.0, 'humidit...
4   SDN.14_1    SouthDarfur  {'2022-01-01': {'cloud_cover': 100.0, 'humidit...
5   SDN.15_1  SouthKurdufan  {'2022-01-01': {'cloud_cover': 97.0, 'humidity...
6   SDN.16_1     WestDarfur  {'2022-01-01': {'cloud_cover': 19.0, 'humidity...
7   SDN.17_1   WestKurdufan  {'2022-01-01': {'cloud_cover': 31.0, 'humidity...
8   SDN.18_1      WhiteNile  {'2022-01-01': {'cloud_cover': 80.0, 'humidity...
9    SDN.1_1      AlJazirah  {'2022-01-01': {'cloud_cover': 65.0, 'humidity...
10   SDN.2_1      AlQadarif  {'2022-01-01': {'cloud_cover': 100.0, 'humidit...
11   SDN.3_1       BlueNile  {'2022-01-01': {'cloud_cover': 94.0, 'humidity...
12   SDN.4_1  CentralDarfur  {'2022-01-01': {'cloud_cover': 28.0, 'humidity...
13   SDN.5_1     EastDarfur  {'2022-01-01': {'cloud_cover': 100.0, 'humidit...
14   SDN.6_1        Kassala  {'2022-01-01': {'cloud_cover': 90.0, 'humidity...
15   SDN.7_1       Khartoum  {'2022-01-01': {'cloud_cover': 4.0, 'humidity_...
16   SDN.8_1    NorthDarfur  {'2022-01-01': {'cloud_cover': 1.0, 'humidity_...
17   SDN.9_1  NorthKurdufan  {'2022-01-01': {'cloud_cover': 61.0, 'humidity...

In [1004]:
gdf_admin_sentinel_weather = pd.merge(gdf_admin_sentinel, gdf_weather_gr, on=['GID_L1', 'NAME_L1'], how='left')

In [1006]:
gdf_admin_sentinel_weather.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI          237 non-null    object
 23  SENTINEL_2_NDWI          237 non-null    object
 24  SENTINEL_2_NDVI_L3       237 non-null    object
 25  SENTINEL_2_NDWI_L3       237 non-null    object
 26  WEATHER_WEEKLY_L1        237 non-null    object
dtypes: geometry(3), object(24)
memory usage: 50.1+ KB

In [1008]:
gdf_admin_sentinel_weather.head()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI,SENTINEL_2_NDWI,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{ ""data"": [ { ""interval"": { ""from"": ""2015-10-2...","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity..."

In [1015]:
gdf_admin_sentinel_weather.drop(columns=["SENTINEL_2_NDVI", "SENTINEL_2_NDWI"]).to_csv(
    'data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather.csv', index=False, 
    sep=",", quotechar="\"", quoting=csv.QUOTE_ALL)

## Major cities

In [1016]:
cities_df = pd.read_csv("data/simplemaps/sudan_cities.csv")

In [1018]:
cities_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Khartoum,Khartoum,15.6000,32.5000,Sudan,SD,SDN,Khartoum,primary,7869000.0,1729268475
1,Omdurman,Omdurman,15.6500,32.4833,Sudan,SD,SDN,Khartoum,NaN,2805396.0,1729912179
2,Al Mijlad,Al Mijlad,11.0339,27.7400,Sudan,SD,SDN,West Kordofan,NaN,985000.0,1729768355
3,Khartoum North,Khartoum North,15.6333,32.6333,Sudan,SD,SDN,Khartoum,NaN,936349.0,1729318628
4,Port Sudan,Port Sudan,19.6167,37.2167,Sudan,SD,SDN,Red Sea,admin,579942.0,1729710259

In [1021]:
len(cities_df["admin_name"].unique())

18

In [1023]:
cities_df.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [1025]:
cities_df = cities_df[['city_ascii', 'lat', 'lng', 'admin_name', 'capital', 'population']].copy().reset_index(drop=True)

In [1027]:
cities_df.columns = ['city', 'lat', 'lng', 'NAME_L1', 'capital', 'population']

In [1029]:
cities_df["NAME_L1"] = cities_df["NAME_L1"].progress_apply(lambda x: ''.join(x.split()))

100%|██████████| 45/45 [00:00<00:00, 85714.66it/s]

In [1031]:
def aggregate_cities(group):
    return group.apply(
        lambda row: {  
            row["city"]: {
                "lat": row["lat"],
                "lng": row["lng"],
                "capital": row["capital"],
                "population": row["population"]
            }
        },
        axis=1,
    ).tolist()

In [1033]:
cities_df_gr = cities_df.groupby(['NAME_L1']).apply(aggregate_cities).reset_index(name="MAJOR_CITIES_L1")

/var/folders/g8/tc9k918x5hncpxzn40y8c00h0000gn/T/ipykernel_52146/729533376.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  cities_df_gr = cities_df.groupby(['NAME_L1']).apply(aggregate_cities).reset_index(name="MAJOR_CITIES_L1")

In [1035]:
cities_df_gr["MAJOR_CITIES_L1"] = cities_df_gr["MAJOR_CITIES_L1"].apply(lambda x: {k: v for d in x for k, v in d.items()})

In [1037]:
cities_df_gr["MAJOR_CITIES_L1"][6]

{'Khartoum': {'lat': 15.6,
  'lng': 32.5,
  'capital': 'primary',
  'population': 7869000.0},
 'Omdurman': {'lat': 15.65,
  'lng': 32.4833,
  'capital': nan,
  'population': 2805396.0},
 'Khartoum North': {'lat': 15.6333,
  'lng': 32.6333,
  'capital': nan,
  'population': 936349.0}}

In [1039]:
cities_df_gr

          NAME_L1                                    MAJOR_CITIES_L1
0        BlueNile  {'Kurmuk': {'lat': 10.55, 'lng': 34.2833, 'cap...
1   CentralDarfur  {'Zalingei': {'lat': 12.9, 'lng': 23.4833, 'ca...
2      EastDarfur  {'Ed Daein': {'lat': 11.4608, 'lng': 26.1283, ...
3         Gedaref  {'Gedaref': {'lat': 14.0333, 'lng': 35.3833, '...
4          Gezira  {'Wad Medani': {'lat': 14.4, 'lng': 33.5167, '...
5         Kassala  {'Kassala': {'lat': 15.45, 'lng': 36.4, 'capit...
6        Khartoum  {'Khartoum': {'lat': 15.6, 'lng': 32.5, 'capit...
7     NorthDarfur  {'El Fasher': {'lat': 13.6306, 'lng': 25.35, '...
8   NorthKordofan  {'El Obeid': {'lat': 13.1833, 'lng': 30.2167, ...
9        Northern  {'Dongola': {'lat': 19.1698, 'lng': 30.4749, '...
10         RedSea  {'Port Sudan': {'lat': 19.6167, 'lng': 37.2167...
11      RiverNile  {'Atbara': {'lat': 17.6972, 'lng': 33.9783, 'c...
12         Sennar  {'Singa': {'lat': 13.15, 'lng': 33.9333, 'capi...
13    SouthDarfur  {'Nyala': {'lat': 12.05, 'lng': 24.8833, 'capi...
14  SouthKordofan  {'Kadugli': {'lat': 11.0167, 'lng': 29.7167, '...
15     WestDarfur  {'El Geneina': {'lat': 13.45, 'lng': 22.45, 'c...
16   WestKordofan  {'Al Mijlad': {'lat': 11.0339, 'lng': 27.74, '...
17      WhiteNile  {'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...

In [1041]:
gdf_admin_sentinel_weather_cities = pd.merge(gdf_admin_sentinel_weather, cities_df_gr, on=['NAME_L1'], how='left')

In [1043]:
gdf_admin_sentinel_weather_cities.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI          237 non-null    object
 23  SENTINEL_2_NDWI          237 non-null    object
 24  SENTINEL_2_NDVI_L3       237 non-null    object
 25  SENTINEL_2_NDWI_L3       237 non-null    object
 26  WEATHER_WEEKLY_L1        237 non-null    object
 27  MAJOR_CITIES_L1          140 non-null    object
dtypes: geometry(3), object(25)
memory usage: 52.0+ KB

In [1049]:
gdf_admin_sentinel_weather_cities.columns

Index(['GID_L0', 'GID_L1', 'GID_L2', 'GID_L3', 'COUNTRY', 'NAME_L1', 'NAME_L2',
       'NAME_L3', 'GEOMETRY_L3', 'NAME_ALTERNATIVES_L1', 'TYPE_L1', 'HASC_L1',
       'ISO_L1', 'GEOMETRY_L1', 'TYPE_L2', 'GEOMETRY_L2', 'COORDINATES_L1',
       'COORDINATES_L2', 'COORDINATES_L3', 'CENTROID_COORDINATES_L1',
       'CENTROID_COORDINATES_L2', 'CENTROID_COORDINATES_L3',
       'SENTINEL_2_NDVI_L3', 'SENTINEL_2_NDWI_L3', 'WEATHER_WEEKLY_L1',
       'MAJOR_CITIES_L1'],
      dtype='object')

In [1047]:
gdf_admin_sentinel_weather_cities.drop(columns=['SENTINEL_2_NDVI', 'SENTINEL_2_NDWI'], inplace=True)

In [585]:
gdf_admin_sentinel_weather_cities.columns = ['GID_L0', 'GID_L1', 'GID_L2', 'GID_L3', 'COUNTRY', 'NAME_L1', 'NAME_L2',
       'NAME_L3', 'GEOMETRY_L3', 'NAME_ALTERNATIVES_L1', 'TYPE_L1', 'HASC_L1',
       'ISO_L1', 'GEOMETRY_L1', 'TYPE_L2', 'GEOMETRY_L2', 'COORDINATES_L1',
       'COORDINATES_L2', 'COORDINATES_L3', 'CENTROID_COORDINATES_L1',
       'CENTROID_COORDINATES_L2', 'CENTROID_COORDINATES_L3', 'SENTINEL_2_NDVI_L3',
       'SENTINEL_2_NDWI_L3', 'WEATHER_WEEKLY_L1', 'MAJOR_CITIES_L1']

In [1051]:
gdf_admin_sentinel_weather_cities.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          140 non-null    object
dtypes: geometry(3), object(23)
memory usage: 48.3+ KB

In [1053]:
gdf_admin_sentinel_weather_cities

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",NaN
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",NaN
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",NaN
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",NaN
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,NA,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.4448, 11.9057), (32.1744, 11.9054), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.40362172351082, 32.1894601149841)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.7516, 12.9151), (32.751, 12.908), (32.7...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.810499717415237, 32.63210791438424)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.6045, 13.3092), (32.609, 13.29), (32.62...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.108492816048061, 32.51699186686077)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.3663, 13.6897), (32.3742, 13.6853), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.470182747341212, 32.43162253307611)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(31.7069, 12.896), (31.7375, 12.9892), (31....","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.181541004278664, 32.07681709515789)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."

### Cleaning

In [1065]:
def handle_missing_values(value):
    if value in ('NA', 'nan', np.nan):
        return None
    else:
        return value

In [1077]:
for column in list(gdf_admin_sentinel_weather_cities.columns):
    gdf_admin_sentinel_weather_cities[column] = gdf_admin_sentinel_weather_cities[column].progress_apply(
        lambda x: handle_missing_values(x))

100%|██████████| 237/237 [00:00<00:00, 450816.35it/s]
100%|██████████| 237/237 [00:00<00:00, 417492.67it/s]
100%|██████████| 237/237 [00:00<00:00, 424807.71it/s]
100%|██████████| 237/237 [00:00<00:00, 414878.98it/s]
100%|██████████| 237/237 [00:00<00:00, 290318.36it/s]
100%|██████████| 237/237 [00:00<00:00, 431820.18it/s]
100%|██████████| 237/237 [00:00<00:00, 446362.84it/s]
100%|██████████| 237/237 [00:00<00:00, 413670.43it/s]
100%|██████████| 237/237 [00:00<00:00, 42124.33it/s]
100%|██████████| 237/237 [00:00<00:00, 398896.49it/s]
100%|██████████| 237/237 [00:00<00:00, 433326.09it/s]
100%|██████████| 237/237 [00:00<00:00, 398896.49it/s]
100%|██████████| 237/237 [00:00<00:00, 387241.94it/s]
100%|██████████| 237/237 [00:00<00:00, 261248.37it/s]
100%|██████████| 237/237 [00:00<00:00, 449592.97it/s]
100%|██████████| 237/237 [00:00<00:00, 259272.31it/s]
100%|██████████| 237/237 [00:00<00:00, 438680.52it/s]
100%|██████████| 237/237 [00:00<00:00, 266644.33it/s]
100%|██████████| 237/237 [00:00<00:00, 269682.60it/s]
100%|██████████| 237/237 [00:00<00:00, 439845.15it/s]
100%|██████████| 237/237 [00:00<00:00, 413498.36it/s]
100%|██████████| 237/237 [00:00<00:00, 398896.49it/s]
100%|██████████| 237/237 [00:00<00:00, 354637.91it/s]
100%|██████████| 237/237 [00:00<00:00, 360554.97it/s]
100%|██████████| 237/237 [00:00<00:00, 449592.97it/s]
100%|██████████| 237/237 [00:00<00:00, 431632.67it/s]

In [1081]:
gdf_admin_sentinel_weather_cities

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.0415, 15.2452), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.083964443779728, 33.11378956689792)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(33.0415, 15.2452), (32.9784, 15.1733), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.191525747215783, 32.86662373624138)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.9784, 15.1733), (33.2035, 14.8855), (33...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.00222006157765, 33.039896335888756)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","[[[(32.5843, 15.2263), (32.6041, 15.2208), (32...","(14.582373531656884, 33.345453919938265)","(15.097663580487422, 32.96771659913109)","(15.170447598810247, 32.70681194553072)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[(32.7365, 13.7191), (32.7335, 13.749), (32....","[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","[[[(32.6635, 14.3983), (32.6733, 14.4499), (32...","(14.582373531656884, 33.345453919938265)","(14.33018702124788, 32.77158872373312)","(14.471606486513101, 32.74934652641849)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.4448, 11.9057), (32.1744, 11.9054), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.40362172351082, 32.1894601149841)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.7516, 12.9151), (32.751, 12.908), (32.7...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.810499717415237, 32.63210791438424)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.6045, 13.3092), (32.609, 13.29), (32.62...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.108492816048061, 32.51699186686077)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.3663, 13.6897), (32.3742, 13.6853), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.470182747341212, 32.43162253307611)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(31.7069, 12.896), (31.7375, 12.9892), (31....","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.181541004278664, 32.07681709515789)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca..."

In [1083]:
gdf_admin_sentinel_weather_cities.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     232 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   135 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          140 non-null    object
dtypes: geometry(3), object(23)
memory usage: 48.3+ KB

In [1085]:
gdf_admin_sentinel_weather_cities['SENTINEL_2_NDVI_L3'] = gdf_admin_sentinel_weather_cities['SENTINEL_2_NDVI_L3'].astype('str')
gdf_admin_sentinel_weather_cities['SENTINEL_2_NDWI_L3'] = gdf_admin_sentinel_weather_cities['SENTINEL_2_NDWI_L3'].astype('str')
gdf_admin_sentinel_weather_cities['WEATHER_WEEKLY_L1'] = gdf_admin_sentinel_weather_cities['WEATHER_WEEKLY_L1'].astype('str')
gdf_admin_sentinel_weather_cities['MAJOR_CITIES_L1'] = gdf_admin_sentinel_weather_cities['MAJOR_CITIES_L1'].astype('str')

In [1087]:
gdf_admin_sentinel_weather_cities.to_csv('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_v2.csv', index=False, sep=",", quoting=csv.QUOTE_ALL, quotechar="\"")

In [1089]:
gdf_admin_sentinel_weather_cities.tail(20).to_csv('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_sample.csv', index=False, sep=",", quoting=csv.QUOTE_ALL, quotechar="\"")

#### Save as feather

In [1091]:
gdf_admin_sentinel_weather_cities.to_feather('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city.feather', index=False, compression="zstd")

In [1093]:
gdf_admin_sentinel_weather_cities_feather_loaded = gpd.read_feather('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city.feather')

/var/folders/g8/tc9k918x5hncpxzn40y8c00h0000gn/T/ipykernel_52146/3301664027.py:1: UserWarning: Multiple non-primary geometry columns read from Parquet/Feather file. The first column read was promoted to the primary geometry.
  gdf_admin_sentinel_weather_cities_feather_loaded = gpd.read_feather('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city.feather')

In [1095]:
gdf_admin_sentinel_weather_cities_feather_loaded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     232 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   135 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          237 non-null    object
dtypes: geometry(3), object(23)
memory usage: 48.3+ KB

In [1097]:
gdf_admin_sentinel_weather_cities_feather_loaded.head()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.9784 15.1733], [33.0415 15.2452], [33.0...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.083964443779728, 33.11378956689792]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[33.0415 15.2452], [32.9784 15.1733], [32.9...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.191525747215783, 32.86662373624138]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.9784 15.1733], [33.2035 14.8855], [33.1...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.00222006157765, 33.039896335888756]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.5843 15.2263], [32.6041 15.2208], [32.6...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.170447598810247, 32.70681194553072]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[32.5719 13.9301], [32.5852 13.9903], [32.5...","[[[[32.6635 14.3983], [32.6733 14.4499], [32.6...","[14.582373531656884, 33.345453919938265]","[14.33018702124788, 32.77158872373312]","[14.471606486513101, 32.74934652641849]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None

### Checking

In [1100]:
gdf_admin_sentinel_weather_cities_loaded = gpd.read_file('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_v2.csv')

In [1101]:
gdf_admin_sentinel_weather_cities_loaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    object
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    object
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    object
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          237 non-null    object
dtypes: object(26)
memory usage: 48.3+ KB

In [1104]:
gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDVI_L3'] = gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDVI_L3'].apply(ast.literal_eval)
gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDWI_L3'] = gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDWI_L3'].apply(ast.literal_eval)
gdf_admin_sentinel_weather_cities_loaded['WEATHER_WEEKLY_L1'] = gdf_admin_sentinel_weather_cities_loaded['WEATHER_WEEKLY_L1'].apply(ast.literal_eval)

In [1105]:
gdf_admin_sentinel_weather_cities_loaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    object
 9   NAME_ALTERNATIVES_L1     237 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   237 non-null    object
 13  GEOMETRY_L1              237 non-null    object
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    object
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          237 non-null    object
dtypes: object(26)
memory usage: 48.3+ KB

In [1106]:
gdf_admin_sentinel_weather_cities_loaded[100:105]

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1
100,SDN,SDN.8_1,SDN.8.3_1,SDN.8.3.1_1,Sudan,NorthDarfur,Kutum,Karnoy,"MULTIPOLYGON (((23.1315 15.7106, 23.1535 15.71...",DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767...",District,"MULTIPOLYGON (((25.2552 14.1369, 25.2314 14.18...","[[[(26.989, 11.7898), (26.8901, 11.7679), (26....","[[[(25.2552, 14.1369), (25.2314, 14.1837), (25...","[[[(23.1315, 15.7106), (23.1535, 15.7122), (23...","(16.210072141665464, 25.56137078287929)","(14.970643898696625, 23.99197320791689)","(15.276145500285851, 23.579148396331252)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 1.0, 'humidity_...","{'El Fasher': {'lat': 13.6306, 'lng': 25.35, '..."
101,SDN,SDN.8_1,SDN.8.3_1,SDN.8.3.2_1,Sudan,NorthDarfur,Kutum,Kottom,"MULTIPOLYGON (((25.2734 14.1388, 25.2552 14.13...",DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767...",District,"MULTIPOLYGON (((25.2552 14.1369, 25.2314 14.18...","[[[(26.989, 11.7898), (26.8901, 11.7679), (26....","[[[(25.2552, 14.1369), (25.2314, 14.1837), (25...","[[[(25.2734, 14.1388), (25.2552, 14.1369), (25...","(16.210072141665464, 25.56137078287929)","(14.970643898696625, 23.99197320791689)","(14.55958193009102, 24.547492752279766)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 1.0, 'humidity_...","{'El Fasher': {'lat': 13.6306, 'lng': 25.35, '..."
102,SDN,SDN.8_1,SDN.8.4_1,SDN.8.4.1_1,Sudan,NorthDarfur,Mellit,ElMaleha,"MULTIPOLYGON (((27.5 19.6851, 27.5 16.5738, 26...",DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767...",District,"MULTIPOLYGON (((25.8219 13.937, 25.6519 13.941...","[[[(26.989, 11.7898), (26.8901, 11.7679), (26....","[[[(25.8219, 13.937), (25.6519, 13.9417), (25....","[[[(27.5, 19.6851), (27.5, 16.5738), (26.9365,...","(16.210072141665464, 25.56137078287929)","(17.218399291427826, 25.78500789658401)","(17.27272280337774, 26.614719931404128)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 1.0, 'humidity_...","{'El Fasher': {'lat': 13.6306, 'lng': 25.35, '..."
103,SDN,SDN.8_1,SDN.8.4_1,SDN.8.4.2_1,Sudan,NorthDarfur,Mellit,Millet,"MULTIPOLYGON (((26.0031 13.6741, 25.8219 13.93...",DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767...",District,"MULTIPOLYGON (((25.8219 13.937, 25.6519 13.941...","[[[(26.989, 11.7898), (26.8901, 11.7679), (26....","[[[(25.8219, 13.937), (25.6519, 13.9417), (25....","[[[(26.0031, 13.6741), (25.8219, 13.937), (25....","(16.210072141665464, 25.56137078287929)","(17.218399291427826, 25.78500789658401)","(14.401973394591023, 26.24899375686486)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 1.0, 'humidity_...","{'El Fasher': {'lat': 13.6306, 'lng': 25.35, '..."
104,SDN,SDN.8_1,SDN.8.4_1,SDN.8.4.3_1,Sudan,NorthDarfur,Mellit,UmmBarro,"MULTIPOLYGON (((24.0001 16.4933, 24 20, 25 20,...",DārfūrashShamālīyah|ShamālDā,State,SD.ND,SD-DN,"MULTIPOLYGON (((26.989 11.7898, 26.8901 11.767...",District,"MULTIPOLYGON (((25.8219 13.937, 25.6519 13.941...","[[[(26.989, 11.7898), (26.8901, 11.7679), (26....","[[[(25.8219, 13.937), (25.6519, 13.9417), (25....","[[[(24.0001, 16.4933), (24.0, 20.0), (25.0, 20...","(16.210072141665464, 25.56137078287929)","(17.218399291427826, 25.78500789658401)","(17.852127024352004, 25.043479535011286)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 1.0, 'humidity_...","{'El Fasher': {'lat': 13.6306, 'lng': 25.35, '..."

In [1200]:
gdf_admin_sentinel_weather_cities_loaded['GEOMETRY_L1'][0]

'MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.749, 32.6893 13.8397, 32.6942 13.8866, 32.6393 13.8826, 32.6209 13.9156, 32.6028 13.9077, 32.5719 13.9301, 32.5852 13.9903, 32.5762 14.022, 32.5526 14.071, 32.5549 14.0894, 32.5781 14.0941, 32.5618 14.1096, 32.5722 14.1634, 32.5139 14.1802, 32.494 14.1626, 32.4743 14.1836, 32.516 14.2362, 32.5802 14.2379, 32.5901 14.2131, 32.6027 14.2182, 32.5835 14.2772, 32.5539 14.2864, 32.5444 14.3213, 32.5827 14.3105, 32.591 14.3201, 32.584 14.3353, 32.5968 14.3882, 32.6283 14.4181, 32.5853 14.4409, 32.5431 14.4003, 32.5011 14.4304, 32.527 14.4581, 32.5088 14.4718, 32.4833 14.4482, 32.4445 14.4733, 32.4519 14.4927, 32.4434 14.5018, 32.486 14.553, 32.5877 14.53, 32.6057 14.5613, 32.6812 14.5649, 32.7099 14.583, 32.7756 14.5865, 32.7878 14.5732, 32.8017 14.5806, 32.8209 14.5761, 32.8343 14.5973, 32.8047 14.6404, 32.7968 14.6376, 32.7738 14.6719, 32.7652 14.7187, 32.8024 14.7313, 32.8177 14.747, 32.8358 14.7572, 32.8218 14.7732, 32.8231 14.7787, 32.8497 14.7862, 32.8661 14.7647, 32.8754 14.7569, 32.882 14.739, 32.8951 14.7354, 32.9037 14.7814, 32.8859 14.8024, 32.883 14.818, 32.8624 14.8335, 32.8504 14.8234, 32.8345 14.832, 32.8104 14.8177, 32.7421 14.8628, 32.7263 14.8554, 32.6787 14.8846, 32.7019 14.9081, 32.6247 14.967, 32.665 15.0127, 32.6705 15.0352, 32.7649 14.9668, 32.7824 15.0155, 32.7846 15.0367, 32.7785 15.0545, 32.7527 15.0852, 32.7441 15.1256, 32.6937 15.1501, 32.6806 15.1662, 32.6433 15.1669, 32.6391 15.1788, 32.5976 15.1887, 32.5891 15.1965, 32.5628 15.1867, 32.481 15.231, 32.5553 15.2237, 33.026 15.265, 33.1464 15.2639, 33.1982 15.2434, 33.2798 15.3343, 33.5158 15.4613, 33.5905 15.4318, 33.6256 15.3956, 33.641 15.2901, 33.7025 15.289, 34.0162 15.1844, 34.2208 14.8736, 34.2983 14.7357, 34.2757 14.672, 34.0857 14.4036, 34.09 14.3931, 33.9283 14.1578, 33.934 14.1363, 33.9239 14.1114, 33.9374 14.0991, 33.9413 14.0775, 33.9605 14.051, 33.9663 14.0147, 33.9887 14.0042, 33.9873 13.99, 34.001 13.9643, 33.7332 14.0494, 33.723 14.0889, 33.662 14.0995, 33.663 14.073, 33.661 14.061, 33.652 14.049, 33.641 14.046, 33.627 14.046, 33.6154 14.0424, 33.612 14.034, 33.638 13.991, 33.639 13.979, 33.633 13.97, 33.625 13.965, 33.611 13.964, 33.599 13.965, 33.5863 13.9617, 33.583 13.955, 33.588 13.946, 33.612 13.929, 33.617 13.92, 33.618 13.907, 33.6162 13.8847, 33.5327 13.8827, 33.5104 13.8794, 33.4677 13.8378, 33.4394 13.828, 33.4198 13.8362, 33.4127 13.8532, 33.4554 13.8745, 33.4586 13.8878, 33.3529 13.8942, 33.3382 14.0109, 33.2818 14.0322, 33.2702 14.0431, 33.2575 14.0486, 33.237 14.049, 33.2231 14.0379, 33.2035 14.0488, 33.1826 14.0469, 33.1616 14.0422, 33.1361 14.031, 33.1235 14.0323, 33.1261 14.0608, 33.0772 14.0588, 33.0662 14.0188, 33.0663 14.0008, 33.0613 13.9852, 33.0539 13.9723, 33.0635 13.9062, 33.0633 13.8575, 33.0792 13.8356, 33.0877 13.8195, 33.1041 13.8017, 33.0873 13.7952, 33.058 13.7909, 33.0236 13.7742, 32.9832 13.7409, 32.9726 13.7189, 32.9607 13.6839, 32.9756 13.5907, 32.7832 13.5829, 32.739 13.5846, 32.7143 13.6804, 32.7365 13.7191)))'

In [1114]:
gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDVI_L3'][0]["data"][0]

{'interval_from': '2015-10-20',
 'interval_to': '2015-10-21',
 'ndvi_min': 0.005310070235282183,
 'ndvi_max': 0.005310070235282183,
 'ndvi_mean': 0.005310070235282183}

In [1116]:
gdf_admin_sentinel_weather_cities_loaded['SENTINEL_2_NDWI_L3'][0]["data"][0]

{'interval_from': '2015-10-20',
 'interval_to': '2015-10-21',
 'ndvi_min': -0.011544699780642986,
 'ndvi_max': -0.011544699780642986,
 'ndvi_mean': -0.011544699780642986}

In [1171]:
gdf_admin_sentinel_weather_cities_loaded['WEATHER_WEEKLY_L1'][0]["2022-01-01"]

{'cloud_cover': 65.0,
 'humidity_percentage': 12.0,
 'precipitation_total_mm': 0.0,
 'temperature_min_celsius': 19.78,
 'temperature_max_celsius': 30.0,
 'temperature_afternoon_celsius': 28.83,
 'temperature_night_celsius': 21.03,
 'temperature_evening_celsius': 25.44,
 'temperature_morning_celsius': 19.78,
 'pressure_hpa': 1012.0,
 'wind_max_speed_kmh': 6.04,
 'wind_max_direction_degrees': 347.0}

In [1120]:
print(gdf_admin_sentinel_weather_cities_loaded['MAJOR_CITIES_L1'][100])

{'El Fasher': {'lat': 13.6306, 'lng': 25.35, 'capital': 'admin', 'population': 500000.0}, 'Kutum': {'lat': 14.2056, 'lng': 24.65, 'capital': nan, 'population': 45000.0}}

In [765]:
ast.literal_eval(gdf_admin_sentinel_weather_cities_infra['INFRASTRUCTURE_L2'][0])[1]

{'type': 'way',
 'id': 23055679,
 'nodes': [998002131,
  998183003,
  2467574384,
  248786832,
  2467570445,
  2467605771,
  2467570463,
  2467578050,
  2467578054,
  2467570454,
  2467578055,
  2467578048,
  2467578069,
  2467578066,
  2467578060,
  2467578056],
 'tags': {'name': 'Sondos Major', 'waterway': 'canal'}}

## OpenStreetMap data

In [1122]:
gdf_infra = gpd.read_file("data/openstreetmap/openstreetmap_sdn_by_state_district.geojson")

In [1123]:
gdf_infra.head()

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,coordinates,centroid_coordinates,osm_data,geometry
0,SDN.1.1_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,AlKamlin,NA,NA,District,District,NA,NA,"[[[(33.1141, 14.8749), (32.9916, 14.9108), (32...","(15.097663580487422, 32.96771659913109)","[ { ""type"": ""way"", ""id"": 7852182, ""nodes"": [ 1...","MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91..."
1,SDN.1.2_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,AlMahagil,NA,NA,District,District,NA,NA,"[[[(32.5719, 13.9301), (32.5852, 13.9903), (32...","(14.33018702124788, 32.77158872373312)","[ { ""type"": ""way"", ""id"": 81897860, ""nodes"": [ ...","MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99..."
2,SDN.1.3_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,EastalGazera,NA,NA,District,District,NA,NA,"[[[(33.7332, 14.0494), (33.723, 14.0889), (33....","(14.486260963655774, 33.87686794261738)","[ { ""type"": ""way"", ""id"": 10983756, ""nodes"": [ ...","MULTIPOLYGON (((33.7332 14.0494, 33.723 14.088..."
3,SDN.1.4_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,NorthalGazera,NA,NA,District,District,NA,NA,"[[[(33.3418, 14.45), (33.2833, 14.4019), (33.2...","(14.747851161360606, 33.05929297636565)","[ { ""type"": ""way"", ""id"": 10983756, ""nodes"": [ ...","MULTIPOLYGON (((33.3418 14.45, 33.2833 14.4019..."
4,SDN.1.5_1,SDN,Sudan,SDN.1_1,AlJazirah,ولايةالجزيرة,SharqalGazera,NA,NA,District,District,NA,NA,"[[[(33.7216, 14.702), (33.675, 14.6276), (33.6...","(15.013320227547101, 33.59044395257666)","[ { ""type"": ""way"", ""id"": 10983756, ""nodes"": [ ...","MULTIPOLYGON (((33.7216 14.702, 33.675 14.6276..."

In [1125]:
gdf_infra.columns

Index(['GID_2', 'GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'NL_NAME_1', 'NAME_2',
       'VARNAME_2', 'NL_NAME_2', 'TYPE_2', 'ENGTYPE_2', 'CC_2', 'HASC_2',
       'coordinates', 'centroid_coordinates', 'osm_data', 'geometry'],
      dtype='object')

In [1126]:
gdf_infra = gdf_infra[['GID_2', 'NAME_2', 'osm_data']].copy().reset_index(drop=True)

In [1127]:
gdf_infra.columns = ['GID_L2', 'NAME_L2', 'INFRASTRUCTURE_L2']

In [1128]:
gdf_admin_sentinel_weather_cities_infra = pd.merge(gdf_admin_sentinel_weather_cities, gdf_infra, on=['GID_L2', 'NAME_L2'], how='left')

In [1129]:
gdf_admin_sentinel_weather_cities_infra.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     232 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   135 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          237 non-null    object
 26  INFRASTRUCTURE_L2        237 non-null    object
dtypes: geometry(3), object(24)
memory usage: 50.1+ KB

In [1130]:
gdf_admin_sentinel_weather_cities_infra.tail()

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1,INFRASTRUCTURE_L2
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.4448, 11.9057), (32.1744, 11.9054), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.40362172351082, 32.1894601149841)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.7516, 12.9151), (32.751, 12.908), (32.7...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(12.810499717415237, 32.63210791438424)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.6045, 13.3092), (32.609, 13.29), (32.62...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.108492816048061, 32.51699186686077)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(32.3663, 13.6897), (32.3742, 13.6853), (32...","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.470182747341212, 32.43162253307611)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[(31.823, 12.1606), (31.6912, 12.5453), (31....","[[[(32.728, 12.207), (32.73, 12.202), (32.73, ...","[[[(31.7069, 12.896), (31.7375, 12.9892), (31....","(13.405824791492984, 32.35113962156813)","(12.697295787801217, 32.28672314270172)","(13.181541004278664, 32.07681709515789)","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."

In [1141]:
gdf_admin_sentinel_weather_cities_infra['SENTINEL_2_NDVI_L3'] = gdf_admin_sentinel_weather_cities_infra['SENTINEL_2_NDVI_L3'].astype('str')
gdf_admin_sentinel_weather_cities_infra['SENTINEL_2_NDWI_L3'] = gdf_admin_sentinel_weather_cities_infra['SENTINEL_2_NDWI_L3'].astype('str')
gdf_admin_sentinel_weather_cities_infra['WEATHER_WEEKLY_L1'] = gdf_admin_sentinel_weather_cities_infra['WEATHER_WEEKLY_L1'].astype('str')
gdf_admin_sentinel_weather_cities_infra['MAJOR_CITIES_L1'] = gdf_admin_sentinel_weather_cities_infra['MAJOR_CITIES_L1'].astype('str')
gdf_admin_sentinel_weather_cities_infra['INFRASTRUCTURE_L2'] = gdf_admin_sentinel_weather_cities_infra['INFRASTRUCTURE_L2'].astype('str')

In [1144]:
gdf_admin_sentinel_weather_cities_infra.to_csv('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra_v2.csv', index=False, sep=",", quoting=csv.QUOTE_ALL, quotechar="\"")

In [1145]:
gdf_admin_sentinel_weather_cities_infra.tail(20).to_csv('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra_sample.csv', index=False, sep=",", quoting=csv.QUOTE_ALL, quotechar="\"")

#### Save as feather

In [1148]:
gdf_admin_sentinel_weather_cities_infra.to_feather(
    'data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra_zstd_compressed.feather', 
    index=False, compression="zstd")

In [1149]:
gdf_admin_sentinel_weather_cities_infra_feather_loaded = gpd.read_feather('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra_zstd_compressed.feather')

/var/folders/g8/tc9k918x5hncpxzn40y8c00h0000gn/T/ipykernel_52146/2563801063.py:1: UserWarning: Multiple non-primary geometry columns read from Parquet/Feather file. The first column read was promoted to the primary geometry.
  gdf_admin_sentinel_weather_cities_infra_feather_loaded = gpd.read_feather('data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra_zstd_compressed.feather')

In [1150]:
gdf_admin_sentinel_weather_cities_infra_feather_loaded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   237 non-null    object
 1   GID_L1                   237 non-null    object
 2   GID_L2                   237 non-null    object
 3   GID_L3                   237 non-null    object
 4   COUNTRY                  237 non-null    object
 5   NAME_L1                  237 non-null    object
 6   NAME_L2                  237 non-null    object
 7   NAME_L3                  237 non-null    object
 8   GEOMETRY_L3              237 non-null    geometry
 9   NAME_ALTERNATIVES_L1     232 non-null    object
 10  TYPE_L1                  237 non-null    object
 11  HASC_L1                  237 non-null    object
 12  ISO_L1                   135 non-null    object
 13  GEOMETRY_L1              237 non-null    geometry
 14  TYPE_L2                  237 non-null    object
 15  GEOMETRY_L2              237 non-null    geometry
 16  COORDINATES_L1           237 non-null    object
 17  COORDINATES_L2           237 non-null    object
 18  COORDINATES_L3           237 non-null    object
 19  CENTROID_COORDINATES_L1  237 non-null    object
 20  CENTROID_COORDINATES_L2  237 non-null    object
 21  CENTROID_COORDINATES_L3  237 non-null    object
 22  SENTINEL_2_NDVI_L3       237 non-null    object
 23  SENTINEL_2_NDWI_L3       237 non-null    object
 24  WEATHER_WEEKLY_L1        237 non-null    object
 25  MAJOR_CITIES_L1          237 non-null    object
 26  INFRASTRUCTURE_L2        237 non-null    object
dtypes: geometry(3), object(24)
memory usage: 50.1+ KB

In [1152]:
gdf_admin_sentinel_weather_cities_infra_feather_loaded

,GID_L0,GID_L1,GID_L2,GID_L3,COUNTRY,NAME_L1,NAME_L2,NAME_L3,GEOMETRY_L3,NAME_ALTERNATIVES_L1,TYPE_L1,HASC_L1,ISO_L1,GEOMETRY_L1,TYPE_L2,GEOMETRY_L2,COORDINATES_L1,COORDINATES_L2,COORDINATES_L3,CENTROID_COORDINATES_L1,CENTROID_COORDINATES_L2,CENTROID_COORDINATES_L3,SENTINEL_2_NDVI_L3,SENTINEL_2_NDWI_L3,WEATHER_WEEKLY_L1,MAJOR_CITIES_L1,INFRASTRUCTURE_L2
0,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.1_1,Sudan,AlJazirah,AlKamlin,ElKamlin,"MULTIPOLYGON (((32.9784 15.1733, 33.0415 15.24...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.9784 15.1733], [33.0415 15.2452], [33.0...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.083964443779728, 33.11378956689792]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None,"[ { ""type"": ""way"", ""id"": 7852182, ""nodes"": [ 1..."
1,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.2_1,Sudan,AlJazirah,AlKamlin,ElMasid,"MULTIPOLYGON (((33.0415 15.2452, 32.9784 15.17...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[33.0415 15.2452], [32.9784 15.1733], [32.9...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.191525747215783, 32.86662373624138]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None,"[ { ""type"": ""way"", ""id"": 7852182, ""nodes"": [ 1..."
2,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.3_1,Sudan,AlJazirah,AlKamlin,ElMiEiliq,"MULTIPOLYGON (((32.9784 15.1733, 33.2035 14.88...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.9784 15.1733], [33.2035 14.8855], [33.1...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.00222006157765, 33.039896335888756]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None,"[ { ""type"": ""way"", ""id"": 7852182, ""nodes"": [ 1..."
3,SDN,SDN.1_1,SDN.1.1_1,SDN.1.1.4_1,Sudan,AlJazirah,AlKamlin,EsSideira,"MULTIPOLYGON (((32.5843 15.2263, 32.6041 15.22...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((33.1141 14.8749, 32.9916 14.91...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[33.1141 14.8749], [32.9916 14.9108], [32.9...","[[[[32.5843 15.2263], [32.6041 15.2208], [32.6...","[14.582373531656884, 33.345453919938265]","[15.097663580487422, 32.96771659913109]","[15.170447598810247, 32.70681194553072]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None,"[ { ""type"": ""way"", ""id"": 7852182, ""nodes"": [ 1..."
4,SDN,SDN.1_1,SDN.1.2_1,SDN.1.2.1_1,Sudan,AlJazirah,AlMahagil,AlAzazi,"MULTIPOLYGON (((32.6635 14.3983, 32.6733 14.44...",Gezira,State,SD.GZ,None,"MULTIPOLYGON (((32.7365 13.7191, 32.7335 13.74...",District,"MULTIPOLYGON (((32.5719 13.9301, 32.5852 13.99...","[[[[32.7365 13.7191], [32.7335 13.749 ], [32.6...","[[[[32.5719 13.9301], [32.5852 13.9903], [32.5...","[[[[32.6635 14.3983], [32.6733 14.4499], [32.6...","[14.582373531656884, 33.345453919938265]","[14.33018702124788, 32.77158872373312]","[14.471606486513101, 32.74934652641849]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 65.0, 'humidity...",None,"[ { ""type"": ""way"", ""id"": 81897860, ""nodes"": [ ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.3_1,Sudan,WhiteNile,Kosti,ErRawat,"MULTIPOLYGON (((32.4448 11.9057, 32.1744 11.90...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[[31.823 12.1606], [31.6912 12.5453], [31.6...","[[[[32.728 12.207], [32.73 12.202], [32.73 1...","[[[[32.4448 11.9057], [32.1744 11.9054], [32.1...","[13.405824791492984, 32.35113962156813]","[12.697295787801217, 32.28672314270172]","[12.40362172351082, 32.1894601149841]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
233,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.4_1,Sudan,WhiteNile,Kosti,EzZeleit,"MULTIPOLYGON (((32.7516 12.9151, 32.751 12.908...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[[31.823 12.1606], [31.6912 12.5453], [31.6...","[[[[32.728 12.207], [32.73 12.202], [32.73 1...","[[[[32.7516 12.9151], [32.751 12.908], [32.754...","[13.405824791492984, 32.35113962156813]","[12.697295787801217, 32.28672314270172]","[12.810499717415237, 32.63210791438424]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
234,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.5_1,Sudan,WhiteNile,Kosti,KostiGenoub,"MULTIPOLYGON (((32.6045 13.3092, 32.609 13.29,...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[[31.823 12.1606], [31.6912 12.5453], [31.6...","[[[[32.728 12.207], [32.73 12.202], [32.73 1...","[[[[32.6045 13.3092], [32.609 13.29 ], [32.622...","[13.405824791492984, 32.35113962156813]","[12.697295787801217, 32.28672314270172]","[13.108492816048061, 32.51699186686077]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
235,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.6_1,Sudan,WhiteNile,Kosti,KostiShmal,"MULTIPOLYGON (((32.3663 13.6897, 32.3742 13.68...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[[31.823 12.1606], [31.6912 12.5453], [31.6...","[[[[32.728 12.207], [32.73 12.202], [32.73 1...","[[[[32.3663 13.6897], [32.3742 13.6853], [32.3...","[13.405824791492984, 32.35113962156813]","[12.697295787801217, 32.28672314270172]","[13.470182747341212, 32.43162253307611]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."
236,SDN,SDN.18_1,SDN.18.4_1,SDN.18.4.7_1,Sudan,WhiteNile,Kosti,Tendelti,"MULTIPOLYGON (((31.7069 12.896, 31.7375 12.989...",AnBaḥralAbyad|AnNīlal-Abyad,State,SD.WN,SD-NW,"MULTIPOLYGON (((31.823 12.1606, 31.6912 12.545...",District,"MULTIPOLYGON (((32.728 12.207, 32.73 12.202, 3...","[[[[31.823 12.1606], [31.6912 12.5453], [31.6...","[[[[32.728 12.207], [32.73 12.202], [32.73 1...","[[[[31.7069 12.896 ], [31.7375 12.9892], [31.8...","[13.405824791492984, 32.35113962156813]","[12.697295787801217, 32.28672314270172]","[13.181541004278664, 32.07681709515789]","{'data': [{'interval_from': '2015-10-20', 'int...","{'data': [{'interval_from': '2015-10-20', 'int...","{'2022-01-01': {'cloud_cover': 80.0, 'humidity...","{'Kusti': {'lat': 13.1667, 'lng': 32.6667, 'ca...","[ { ""type"": ""way"", ""id"": 22372249, ""nodes"": [ ..."

### Checking

In [1156]:
gdf_admin_sentinel_weather_cities_infra_loaded = gpd.read_file(
    'data/merging/gadm_sdn_full_with_coords_centroids_sentinel_weather_city_infra.csv')

In [1158]:
gdf_admin_sentinel_weather_cities_infra_loaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GID_L0                   61 non-null     object
 1   GID_L1                   61 non-null     object
 2   GID_L2                   61 non-null     object
 3   GID_L3                   61 non-null     object
 4   COUNTRY                  61 non-null     object
 5   NAME_L1                  61 non-null     object
 6   NAME_L2                  61 non-null     object
 7   NAME_L3                  61 non-null     object
 8   GEOMETRY_L3              61 non-null     object
 9   NAME_ALTERNATIVES_L1     61 non-null     object
 10  TYPE_L1                  61 non-null     object
 11  HASC_L1                  61 non-null     object
 12  ISO_L1                   61 non-null     object
 13  GEOMETRY_L1              61 non-null     object
 14  TYPE_L2                  61 non-null     object
 15  GEOMETRY_L2              61 non-null     object
 16  COORDINATES_L1           61 non-null     object
 17  COORDINATES_L2           61 non-null     object
 18  COORDINATES_L3           61 non-null     object
 19  CENTROID_COORDINATES_L1  61 non-null     object
 20  CENTROID_COORDINATES_L2  61 non-null     object
 21  CENTROID_COORDINATES_L3  61 non-null     object
 22  SENTINEL_2_NDVI_L3       61 non-null     object
 23  SENTINEL_2_NDWI_L3       61 non-null     object
 24  WEATHER_WEEKLY_L1        61 non-null     object
 25  MAJOR_CITIES_L1          61 non-null     object
 26  INFRASTRUCTURE_L2        61 non-null     object
dtypes: object(27)
memory usage: 13.0+ KB